# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
dist/
build/

# testing
/coverage

# Python virtual environment
tgenv/
pyvenv.cfg
Lib/
include/
Scripts/
__pycache__/
*.pyc

# production
/build

# Generated documents
generated_documents/

# Logs
*.log

# IDE-specific files
.idea/
.vscode/

# macOS-specific files
.DS_Store

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
