# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
dist/
build/

# testing
/coverage

# Python virtual environment
tgenv/
pyvenv.cfg
Lib/
include/
Scripts/
__pycache__/
*.pyc

# production
/build

# Generated documents
generated_documents/

# Logs
*.log

# IDE-specific files
.idea/
.vscode/

# macOS-specific files
.DS_Store

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


../../../.anaconda/
../../../.azcopy/
../../../.azuredatastudio/
../../../.bash_history
../../../.cache/
../../../.conda/
../../../.condarc
../../../.continuum/
../../../.docker/
../../../.git-for-windows-updater
../../../.gitconfig
../../../.idlerc/
../../../.ipynb_checkpoints/
../../../.ipython/
../../../.jupyter/
../../../.keras/
../../../.lesshst
../../../.matplotlib/
../../../.node_repl_history
../../../.ssh/
../../../.streamlit/
../../../.viminfo
../../../.virtual_documents/
../../../.vscode/
../../AI for Decision Making/
../../AI for Math/
../../MLP/
../../conversationalAI/
../../issues challenges/
../../machine learning Frameworks/
../../python/.ipynb_checkpoints/
../../python/ETL/
../../python/Encoding.ipynb
../../python/FinalProjectApp.ipynb
../../python/ML01.ipynb
../../python/Sunil_Raut_BDAT1000_customer.pbix
../../python/Untitled.ipynb
../../python/Untitled1.ipynb
../../python/Untitled2.ipynb
../../python/__pycache__/
../../python/awardsBr.docx
../../python/canada_per_capita_income.csv
../../python/carprices.csv
../../python/code.ipynb
../../python/data_cleaning.ipynb
../../python/databricks.docx
../../python/emp.csv
../../python/emp_new.csv
../../python/employee_records.csv
../../python/employee_records.txt
../../python/extended_dummy_network_logs.csv
../../python/gradientDecent.py
../../python/hiring.csv
../../python/home.csv
../../python/kaggle/.ipynb_checkpoints/
../../python/kaggle/Test_data.csv.zip
../../python/kaggle/Train_data.csv.zip
../../python/kaggle/Untitled.ipynb
../../python/kaggle/house-prices-advanced-regression-techniques.zip
../../python/kaggle/house-prices-advanced-regression-techniques/
../../python/new_sales.csv
../../python/nonDL_modify_models.ipynb
../../python/order_multiline.json
../../python/order_singleline.json
../../python/pandasPractice.ipynb
../../python/practiceLL.ipynb
../../python/prediction.csv
../../python/pysparkAssign-03.ipynb
../../python/sales.csv
../../python/sales_data.orc
../../python/sales_data.parquet
../../python/spark01.ipynb
../../python/spark02.ipynb
../../python/spark15.ipynb
../../python/spark16.ipynb
../../python/sqlDocumentation.docx
../../python/workshop_data-20240910T225834Z-001.zip
../../python/workshop_data-20240910T225834Z-001/
../
../../../AppData/
../../../Contacts/
../../../Downloads/
../../../Favorites/
../../../FrameWork/
../../../Links/
../../../Microsoft/
../../../Music/
../../../NTUSER.DAT
../../../NTUSER.DAT{18d3f171-be3c-11ef-af46-e9bea70cc8d4}.TM.blf
../../../NTUSER.DAT{18d3f171-be3c-11ef-af46-e9bea70cc8d4}.TMContainer00000000000000000001.regtrans-ms
../../../NTUSER.DAT{18d3f171-be3c-11ef-af46-e9bea70cc8d4}.TMContainer00000000000000000002.regtrans-ms
../../../OneDrive - Georgian College/
../../../OneDrive/
../../../Project/
../../../Saved Games/
../../../ScreenPal/
../../../Searches/
../../../Untitled.ipynb
../../../Untitled1.ipynb
../../../Videos/
../../../airflow/
../../../anaconda3/
../../../docker-hadoop/
../../../git/
../../../mlp/
../../../ntuser.dat.LOG1
../../../ntuser.dat.LOG2
../../../ntuser.ini
../../../pyspark/
../../../test/
